
    
    .table {
        width: 100%;
        border-collapse: collapse;
        color: #000;
    }

    thead th, tbody td {
        font-size: 1.5rem;
        width: 15%;
        padding: 8px;
        text-align: left;
        color: #000;
        border-bottom: 1px solid #ddd;
    }
    .btn {
        margin-right: 5px;
    }

    @media screen and (max-width: 768px) {
        .table {
            font-size: 0.8rem;
        }

        thead th, tbody td {
            width: auto;
        }
    }
