@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/styles.css">

    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Responsive Login Form Sign In Sign Up</title>


</head>
<body>

    <div class="login">
        <div class="login__content">
            <div class="login__img">
                <img src='~/imagenes/logo.png' alt="">
            </div>

            <div class="login__forms">
                <form asp-controller="Acceso" asp-action="Index" method="post" class="login__registre" id="login-in">
                    <h1 class="login__title">Login</h1>

                    <div class="login__box">
                        <i class='bx bx-user login__icon'></i>
                        <input type="email" name="correo" placeholder="Usuario" class="login__input" autocomplete="off" />
                    </div>

                    <div class="login__box">
                        <i class='bx bx-lock-alt login__icon'></i>
                        <input type="password" name="clave" placeholder="Contraseña" class="login__input" autocomplete="off" />
                    </div>

                    <button type="submit" class="login__button">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script src="~/js/main.js"></script>
    @if (TempData["mensaje"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Muestra la alerta con el mensaje
                Swal.fire({
                    title: "Alerta",
                    text: "@TempData["mensaje"]",
                    icon: "error",
                    timer: 5000,
                    buttons: false // No mostrar botón de cierre
                });
            });
        </script>
    }
</body>
</html>
